/*
 * This gets processed by PostCSS attached to Webpack.
 * Author: Cody Welsh
 * License: GPL 3.0
 */

.Root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.PanesContainer {
  background-color: #556270;
  width: 500px;
  height: 500px;
  padding: 2em;
}

.Links {
  padding-bottom: 1em;
  border-bottom: 2px solid #4ecdc4;
}

.Links__link {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #4ecdc4;
  margin-right: 2em;
}

.Links__link--active {
  font-weight: bold
}
