/*
 * This gets processed by PostCSS attached to Webpack.
 * Author: Cody Welsh
 * License: GPL 3.0
 */

/* A few resets */
html {
  background: #333;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

/* React attaches to this element. */
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.panes {
  font-family: 'Roboto Slab', sans-serif;
  color: #4ecdc4;
  background-color: #556270;
  border-top: 8px solid #4ecdc4;
  border-radius: 2px;
  width: 500px;
  height: 500px;
  padding: 2em;
}

.user {
  list-style: none;
  padding: 1em;
  background: #4ecdc4;
  color: #333;
}

/* A collection of nav links */
.nav {
  padding-bottom: 1em;
  border-bottom: 2px solid #4ecdc4;
}

.nav__link {
  color: #4ecdc4;
  font-size: 14px;
  text-decoration: none;
  margin-right: 24px;
  outline: none;
}

.nav__link--active {
  font-weight: bold;
}
