/*
 * This file contains any globals that are (absolutely) necessary. Put
 * everything else in components, via `emotion`.
 * Author: Cody Welsh
 * License: GPL 3.0
 */

/* A few resets */
html {
  background: #333;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

ul {
  padding: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

/* React attaches to this element. */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}
