/* A collection of nav links */
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 2px solid #4ecdc4;
}

.nav__link {
  color: #4ecdc4;
  font-size: 14px;
  text-decoration: none;
  margin-right: 24px;
  outline: none;
}

.nav__link--active {
  font-weight: bold;
}

.nav__icon {
  width: 100px;
  height: 28px;
  background-image: url('../../styles/images/codekite-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

@media screen and (max-width: 350px) {
  .nav__icon {
    margin-bottom: 1em;
  }
}
